@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-bg: #ffffff; /* light beige background */
  --color-surface: #ffffff; /* white surface */
  --color-primary: #0e3a30; /* deep green text/icons */
  --color-accent: #c3a96f; /* gold accent */
  --color-muted: #6b7280; /* gray for text descriptions */
  --color-border: #e5e7eb; /* light border */
  --color-text: #1c1c1c; /* dark readable text */
  --hero-background-image: url("/light-hero.png");
  --font-display: "Oswald", "sans-serif";
  --gradiente-text: " bg-gradient-to-r from-primary to-secondary animate-title-delay";

}
.dark {
  --color-bg: #0d0d0d; /* Dark background */
  --color-surface: #1c1c1c; /* dark surface */
  --color-primary: #c3a96f; /* gold text/icons */
  --color-accent: #fdfcf9; /* off-white accent */
  --color-muted: #9ca3af; /* muted gray */
  --color-border: #374151; /* gray border */
  --color-text: #fdfcf9; /* white text */
  --hero-background-image: url("/dark-hero.png");
}
@import 'swiper/css/thumbs';
/* Font settings */
body {
  font-family: 'Inter', 'Poppins', sans-serif;
}

/* RTL support for Arabic text */
[lang="ar"] {
  font-family: 'Noto Kufi Arabic', sans-serif;
  direction: rtl;
}

/* Tailwind doesn't include this by default */
@layer utilities {
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }
}
